.all {
  background-color: #029c8f;
background-image: url("https://www.transparenttextures.com/patterns/60-lines.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.chatbox {
  font-size: 15px;
  display: flex;
  flex-direction: column;
}

.text-left {
  text-align: left !important;
  color: #fff;
}


.m-3 {
  margin: 3rem !important;
}

.w-25 {
  width: 30% !important;
}

.border-primary {
  border-color: #fff !important;
}

.border {
  border: 10px solid #fff !important;
}

.chatbox .userinfo {
  font-weight: bold;
}

.chatroom .messagedate {
  font-style: italic;
  color: #fff;
}

.chatroom .author {
  color: #fff;
}

.chatroom .newmessage {
  flex-grow: 1;
  color: #fff;
}

.chatbox .reply {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1;
}
