
.wrapper {
  width: 90%;
  margin: 0 auto;
}

h1 {
  text-transform: uppercase;
  font-size: 3.5rem;
  letter-spacing: 3px;
  margin-right: -3px;
  margin-bottom: 5rem;
  text-align: center;
  color: #333;
  position: relative;
}

p {
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 3px;
  text-align: center;
  color: #333;
  position: relative;
}

header {
text-align: center;
}

header p {
text-align: center;
}

.work {
  text-align: center;
  width: 100%;
}

.work img {
  margin: 1%;
  width: 45%;
}

.work p {
  margin-top: 5rem;
  text-align: center;
}

.header2 {
  margin-top: 10rem;
  width: 100%;
  text-align: left;
}

.work2 {
  margin-top: 10rem;
  width: 100%;
  text-align: center;
}


.reseaux {
  margin-top: 10rem;
  width: 100%;
  padding: 2rem;
  justify-content: center;
}

.reseaux i {
  font-size: 3rem;
  transition: color .5s;
  align-items: center;
}

.fa-facebook-square {
  color: #3b5999;
}

.fa-twitter-square {
  color: #55acee;
}

.fa-instagram-square {
  color: #e6683c;
}

.fa-google-plus-square {
  color: #dd4b39 ;
}


.fa-facebook-square:hover,
.fa-twitter-square:hover,
.fa-instagram:hover,
.fa-google-plus-square:hover {
  color: #45e19f;
}

@media only screen and (max-width: 991px) {
  header {
    text-align: left;
    margin: 100px 0 100px 30px;
  }

  header h1 {
    font-size: 36px;
  }

  header p {
    font-size: 12px;
    width: 90px;
  }

  .work img {
    margin: 2%;
    width: 90%;
  }

  .header2 {
    margin: 130px 0 40px 12px;
  }

  .header2 h1 {
    font-size: 36px;
  }

  .header2 p {
    font-size: 12px;
    width: 90px;
  }


}