.one {
  height:400px;
  width: 100%;
  background-color: $white;
}

.two {
  height:400px;
  width: 100%;
  background-color: $lilac;
}

.three {
  height:400px;
  width: 100%;
  background-color: $peach;
}
