  // Specific CSS for your home-page
.banner-area {
  background-image: url("https://wallpapercave.com/wp/wp5006298.jpg");
  background-position: center top;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.menu {
  width: 100%;
  background-color: #CCC9E7;
}

.menu li {
  width: 110px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
}

.menu li:hover {
  background: white;
}

.menu li:hover a {
  color: #CCC9E7;
}

.menu li a {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

.logo {
  text-decoration: unset;;
  color: #fff;
  font-size: 50px;
  font-family: big john;
  padding: 20px 0;
  width: 20%;
  float: left;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #4B1910;
  text-align: center;
}

.banner-text h2 {
  font-family: baloo;
  margin: 0;
  font-size: 70px;
  color: #0F2836;
}

.banner-text p {
  font-size: 22px;
  margin: 0;
  font-family: poppins;
}

.banner-text a {
  text-decoration: none;
  border: 1px solid #fff;
  font-size: 17px;
  padding: 10px 35px;
  color: white;
  display: inline-block;
  margin-top: 5%;
  font-family: poppins;
  text-transform: uppercase;
}

.banner-text a:hover  {
  border-color: white;
  background: white;
  transition: .9s;
  color: black;
}

@media all and (max-width: 769px){
  .slicknav_menu{
    display: block;
    width: 40%;
    float: right;
    background: transparent;
  }

  .slicknav_menu {
    display: none;
  }

  .slicknav_nav a:hover {
    background: transparent;
    color: #fff;
  }

  .menu {
    display: none;
  }
  .slicknav_btn {
    margin: 10px 5px 6px;
    text-decoration: none;
    border-radius: 5px;
    background-color: yellow;
  }

  .slicknav_menu .slicknav_menutxt {
    color: #000;
    text-shadow: none;
  }

  .slicknav_menu .slicknav_icon-bar {
    background-color: #262626;
    box-shadow: none;
  }

  .banner-text {
    top: 55%;
  }

  .header {
    padding: 5px 10px;
  }

  .banner-text h2 {
    font-size: 21px;
  }

  .banner-text p {
    font-size: 15px;
  }

  .banner-text a {
    font-size: 11px;
    padding: 10px 5px;
  }

  .logo {
    font-size: 20px;
  }

  li:hover {
    background: yellow;
  }
  .slicknav_nav li:hover a {
    color: 000;
  }
}

