<div class="footer d-flex justify-content-between align-items-center">
  <div class="footerleft">
    <ul class="list-inline">
      <li class="list-inline-item"><i class="fab fa-facebook-square"></i></li>
      <li class="list-inline-item"><i class="fab fa-twitter-square"></i></li>
      <li class="list-inline-item"><i class="fab fa-instagram-square"></i></li>
    </ul>
  </div>
  <div>
      <h3>2020 all right reserved FOUNDR at Le Wagon</h3>
  </div>
  <div class="footerright">

  </div>
</div>
