 <body class="all">


  <div class="dashboard">
    <h1>Introducing FOUNDR</h1>
    <p>The easiest and cheapest way to increase your chances of getting your shit back !</p>
  </div>

  <div class="pictures-box">
    <div class="img-wrap">
      <img src="https://images.unsplash.com/photo-1535982330050-f1c2fb79ff78?ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80" alt="">
      <div class="img-description">
        <p>Stickers are super cool, you can basically stick them anywere.</p>
      </div>
    </div>

    <div class="img-wrap">
      <img src="https://images.unsplash.com/photo-1598291286794-d417e2685f85?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="">
      <div class="img-description">
        <p>We have also realized that QR codes are getting more and more popular to get information.</p>
      </div>
    </div>

    <div class="img-wrap">
      <img src="https://images.unsplash.com/photo-1595079676339-1534801ad6cf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="">
      <div class="img-description">
        <p>We tought, why not create a sticker with a QR code regrouping your contact information to stick on your stuff.</p>
      </div>
    </div>

    <div class="img-wrap">
      <img src="https://images.unsplash.com/photo-1590935216525-e35827458736?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="">
      <div class="img-description">
        <p>This way the founder can call you and bring your lost item back to you</p>
      </div>
    </div>
  </div>

  <div class="dashboard">
  <h1>-Our mission-</h1>
  <p>Help people find what they lost, with the help of the community.</p>
  </div>

  <div class="dashboard">
  <h1>-A very simple principle-</h1>
  <p>Stick the QR code on what matters the most to you, and increase your chances of getting it back when losing it.</p>
  </div>

  
  <br>
  <br>
 </body>
