<html>
<head>
  <meta charset="utf-8">
  <title>Introducing FOUNDR</title>
  <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="slicknav.css">

</head>
<body>
  <div class="banner-area">
    <header>
      <h1 class="logo">FOUNDR</h1>

      <ul class="menu">
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/team">The team</a></li>
        <li><a href="/user/items">My items</a></li>
        <li><a href="#">Services</a></li>
        <% if user_signed_in? %>
          <li><a href="/users/edit">Profile</a></li>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Login", new_user_session_path %></li>
        <% end %>
      </ul>

    </header>
    <div class="banner-text">
      <h2>TIRED OF LOSING YOUR BELONGINS?</h2>
      <p>Sign up to get more chances of finding it back</p>
      <% unless user_signed_in? %>
        <a href="/dashboard">Sign up!</a>
      <% end %>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="jquery.slicknav.js"></script>
  <script>
  $(".menu").slicknav({
      'appendTo' : 'header'
      'label' : ''
  });
  </script>

</body>
</html>

