<html>
  <head>
    <meta charset="utf-8">
  </head>

  <body>
    <div class="banner">
      <div class="container">
        <br>
        <h1><strong>INTRODUCING FOUNDR</strong></h1>
        <br>
        <br>
        <p>Loosing items is Revolut!</p>
        <br>
        <a href="/dashboard" class="far fa-arrow-alt-circle-down" id="go"></a>
      </div>
    </div>
  </body>
</html>

