<div class="banner-area">
  <h1 class="logo">FOUNDR</h1>
  <div class="banner-text">
    <h2>TIRED OF LOSING YOUR BELONGINS?</h2>
    <p>Sign up to get more chances of finding it back</p>
    <% unless user_signed_in? %>
      <%= link_to "Login!", new_user_session_path, class: "nav-link" %></li>
      <%= link_to "Sign Up!", new_user_registration_path, class: "nav-link" %></li>
    <% end %>
  </div>
</div>
