 <body class="all">

    <div class="container">
        <h1 class="heading"> Meet The Team</h1>
        <div class="teamcard-wrapper">
            <div class="teamcard">
                <img src="https://images.unsplash.com/photo-1456428746267-a1756408f782?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="teamcard background" class="teamcard-img">
                <img src="https://res.cloudinary.com/bestycame/image/upload/v1606207802/thibault.jpg" alt="profile image" class="profile-img">
                <h1>Thibault Alexandre</h1>
                <p class="job-title"> Project Manager</p>
                <p class="about">
                    Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte.
                </p>
                <a href="#" class="btn">Contact</a>
                <ul>
                    <li class="reseaux"><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                    <li class="reseaux"><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                    <li class="reseaux"><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li class="reseaux"><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
                </ul>
            </div>

            <div class="teamcard">
                <img src="https://images.unsplash.com/photo-1556869501-7c58314fc405?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="teamcard background" class="teamcard-img">
                <img src="https://res.cloudinary.com/bestycame/image/upload/v1606207802/charles.png" alt="profile image" class="profile-img">
                <h1>Charles de Lalaing</h1>
                <p class="job-title">Lead Designer</p>
                <p class="about">
                Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte.
                </p>
                <a href="#" class="btn">Contact</a>
            <ul>
                    <li class="reseaux"><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                    <li class="reseaux"><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                    <li class="reseaux"><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li class="reseaux"><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
                </ul>
            </div>

            <div class="teamcard">
                <img src="https://images.unsplash.com/photo-1557853197-aefb550b6fdc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80" alt="teamcard background" class="teamcard-img">
                <img src="https://res.cloudinary.com/bestycame/image/upload/v1606207802/olivierbb.jpg" alt="profile image" class="profile-img">
                <h1>Olivier</h1>
                <p class="job-title">Project Manager</p>
                <p class="about">
                Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte.
                </p>
                <a href="#" class="btn">Contact</a>
                <ul>
                    <li class="reseaux"><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                    <li class="reseaux"><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                    <li class="reseaux"><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li class="reseaux"><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
                </ul>
            </div>

            <div class="teamcard">
                <img src="https://images.unsplash.com/photo-1527769929977-c341ee9f2033?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="teamcard background" class="teamcard-img">
                <img src="https://res.cloudinary.com/bestycame/image/upload/v1606207802/scott.jpg" alt="profile image" class="profile-img">
                <h1>Scott Van Strydonck</h1>
                <p class="job-title">Web Developper</p>
                <p class="about">
                Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte.
                </p>
                <a href="#" class="btn">Contact</a>
                <ul>
                    <li class="reseaux"><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                    <li class="reseaux"><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                    <li class="reseaux"><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li class="reseaux"><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
                </ul>
            </div>

            <div class="teamcard">
                <img src="https://images.unsplash.com/photo-1535953267280-5fd672f9bfa3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=375&q=80" alt="teamcard background" class="teamcard-img">
                <img src="https://res.cloudinary.com/bestycame/image/upload/v1606207802/lex.jpg" alt="profile image" class="profile-img">
                <h1>Lex Radj</h1>
                <p class="job-title">FullStack Developper</p>
                <p class="about">
                Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte.
                </p>
                <a href="#" class="btn">Contact</a>
                <ul>
                    <li class="reseaux"><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                    <li class="reseaux"><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                    <li class="reseaux"><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li class="reseaux"><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</body>