@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);

.footer {
  bottom: 0;
  width: 100%;
  background-color: #CCC9E7;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight:300;
  color:#FFF;
  height: 30px;
}

.footer h3{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  font-weight: 300;
}

.footerleft{
  font-size: 20px;
  margin-top: 10px;
}
