@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);

.footer {
  width: 100%;
  width: 100%;
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/60-lines.png");
  font-family: 'Nunito', sans-serif;
  font-weight:300;
  height: 50px;
}

.footer h3{
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  font-weight: 300;
}

.footerleft{
  font-size: 20px;
  margin-top: 10px;
}

.container{
  length: 90vh;
}
